$lightgrey: #D9D9D9;

.contractor-container {
  display: none;
  min-height: 700px;
}

 .product-quantity {
    width: 66px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 3px
  }

.product-wrapper {
  border: solid 2px #D9D9D9;
  padding: 2%;
  border-left: 5px solid green;
  margin: 0px 3%;
  text-align: left;

  .product-name {
    font-size: 20px
  }

  .product-img {
    margin: auto;
    display: block;
    max-width: 160px;
    height: auto;
  }

  &.first_child {
    border-top: 1px solid #D9D9D9;
  }

  &:last-child {
    margin-bottom: 3%;
  }
}

.product-options {
  margin-top: 5%;
}

.filters {
  border: 1px solid #D9D9D9;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;

  .price-filter-wrapper {
    padding-left: 5%;
  }

  .filter-title {
    background-color: #f4f8f9;
    width: 100%;
    text-align: left;
    padding: 5%;
    font-size: 15px;

    .fa {
      margin-right: 5%;
    }
  }
}

.total-product-price {
  font-size: 19px;
  font-weight: bold;
}

.show-more-items {
  cursor: pointer;
  color: black;
  margin-bottom: 15px;

  &:hover, &:focus {
    text-decoration: none;
    color: black;
    outline: none;
  }
}

#search-results {
  border: solid 2px #D9D9D9;

  .multple-product-quantity {
    @extend .product-quantity;
    margin: auto;
  }

  .total-outer {
    position: relative;
    font-size: 26px;
    min-height: 200px;

    .total-inner {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 50%;
      text-align: center;

      a {
        margin-top: 5px;
        color: #4bc69a;
        font-size: 12px;
        cursor: pointer;
        text-decoration: underline;
        display: block;
        width: 150px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  &.single-item {
    border-left: 3px solid green;
    padding-top: 3%;
    margin: 0px 10%;

    &:first-child {
      margin-top: 10%;
    }

    &:last-child {
      margin-bottom: 10%;
    }
  }

  &.multiple-items {
    margin-top: 10px;
    min-height: 200px;

    .table-title {
      padding-left: 15px;
    }

    table {
      font-size: 12px;

      tbody > tr {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      th {
        border-color: #4bc69a;

        &.empty-head {
          width: 1px;
          border-bottom-color: transparent;
        }
      }

      .align-left {
        text-align: left;
      }

      .multiple-product-name {
        text-align: left;

        img {
          width: 38px;
          margin-top: -8px;
          margin-right: 8px;
        }

        .inner-text {
          display: inline;
        }
      }

      td {
        position: relative;
        border-color: transparent;
        line-height: 30px;
      }
    }

    .company-image {
      position: relative;
      height: 100%;
      min-height: 200px;

      .company-image-wrapper {
        position: absolute;
        margin: auto;
        width: 100px;
        height: 100px;
        top: 25px;
        right: 0;
        left: 0;
        border: 2px solid #4bc69a;
        border-radius: 100px;
        overflow: hidden;

        img {
          position: absolute;
          width: 100%;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}

.nav-tabs li {
  a {
    background: none;
    color: #333;
    font-size: 18px;
    min-width: 200px;
    text-align: center;
  }

  &.active > a,
  &.active > a:hover,
  &.active > a:focus {
    border: none;
    border-bottom: 3px solid #29518e;
    color: #333;
  }
}

.multiple-items-container {
  margin-bottom: 10%;
}

.search-wrapper {
  margin: 5%;
}

.cat-title {
  text-align: left;
  font-size: 20px;
  padding: 12px;
  border-bottom: 2px solid #D9D9D9;
  margin: 0 3% 3% 3%;
}

.sort-by-wrapper {
  text-align: right;
}

.sort-by {
  display: inline;
  width: auto;
  border: 1px solid #C2CBD4;
  background-color: #f4f9f9;
}

.search-results-container {
  padding: 1% 5%;

  .search-bar {
    margin-bottom: 2%;
  }

}

#contractor-search-results {
  display: none;
}

#search_result {
  display: none;
}

.contractor-header {
  background: #ffffff;
  color: #52727b;
  line-height: 50px;
  padding-right: 30px;
  padding-left: 30px;
  border-bottom: 1px solid #dcdcdc;
  font-family: 'Montserrat', sans-serif;
}

.contractor-header-item {
  border-top: 1px solid #dcdcdc;
  width: 19%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
  float: left;
  cursor: pointer;
  color: #52727b;
}

.contractor-header-item.active span {
  color: #4bc69a;
  border-bottom: 2px solid #4bc69a;
  padding-bottom: 2px;
}

.container-header {
  background: white;
  margin-left: 20px;
  color: #858585;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}

.container-data-header {
  text-align: center;
  vertical-align: middle;
  color: #717171;
  font-size: 17px;
  min-height: 50px;
  background: #ffffff;
  display: table;
  width: 100%;
  border-bottom: 2px solid #4ac59a;
}

.container-data-header-item {
  text-align: center;
  color: #000000;
  font-size: 17px;
  border-right: 1px solid #cbcbcb;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.container-data-header-item.last {
  border-right: none;
}

.container-data-header-item.last {
  border-right: none;
}

.container-data-item {
  text-align: center;
  color: #000000;
  font-size: 18px;
  min-height: 70px;
  display: table;
  width: 100%;
  border-bottom: 2px solid #c9c9c9;
  word-break: break-word;
  white-space: normal;
}

.first-item {
  background: #f7f9f9;
}

.first-item.active {
  background: #f1f3e8;
}

.last-item {
  border-right: none;
}

.search-section-wrapper {
  min-height: 600px;
}

#assign-job-modal .job-row,
#assign-job-modal .empty-job-row {
  width: 100%;
  background-color: #f2f4f5;
  padding: 10px 20px;
  color: #aeaeaf;
  font-weight: 500;
  border-bottom: 1px solid #e0e7ea;
  min-height: 41px;
}

#assign-job-modal .job-row {
  cursor: pointer;
  cursor: hand;
}

#assign-job-modal .job-row.active {
  color: #083643;
}

#assign-job-modal .job-row i {
  display: none;
}

#assign-job-modal .job-row.active i {
  display: block;
  float: right;
  color: #4ac59a;
  font-weight: 500;
  font-size: 18px;
  margin-top: 2px;
}

#assign-job-modal .add-new-job {
  color: #4ac59a;
  padding: 2px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  font-weight: 500;
  cursor: pointer;
}

#assign-job-modal .save-btn,
#edit-job-modal .save-btn {
  background-color: #4ac59a;
  color: #ffffff;
  width: 100px;
  height: 35px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
  border-radius: 4px;
}

#assign-job-modal .job-creation {
  margin-bottom: 40px;
}

#assign-job-modal .top-spacing {
  margin-top: 15px;
}

#assign-job-modal .input-2 {
  background-color: #f7f7f7;
  border: 0px;
  width:  calc(50% - 10px);
  float: left;
  margin-right: 10px;
}

#assign-job-modal .input-1-title {
  font-size: 14px;
  font-weight: bold;
  color: #9b9e9f;
  width:  100%;
  float: left;
  padding-right: 10px;
  padding-left: 5px;
}

#assign-job-modal .bootstrap-select {
  width: 100%;
}

#assign-job-modal .col-sm-4 {
  padding-left: 0;
  padding-right: 5px;
}

#edit-job-modal .job-edition {
  width: 90%;
  margin-bottom: 50px;
}

#edit-job-modal .input-title {
  margin-bottom: 5px;
  color: #083643;
  font-weight: 500;
  font-size: 16px;
}

#edit-job-modal .form-group.last,
#edit-job-modal .form-group.first {
  padding-right: 0px;
  padding-left: 0px;
}

#edit-job-modal .form-group.left {
  padding-left: 0px;
}

//override bold that comes with default label bootstrap
.field-title {
  font-weight: normal
}

%vendor-cart-header {
  padding: 8px;
  float: left;
  color: white;
  margin-bottom: 0px;
}

%cart-input {
  border: solid 2px $lightgrey;
  background-color: $lightgrey;
}

.cart-nav {
  text-align: center;
  width: auto;
}

.cart-wrapper {
  position: absolute;
  right: 0px;
  width: 420px;
  z-index: 2;
  margin-bottom: 0px;
  background-color: white;
  max-height: 65%;
  overflow-y: auto;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 1px 0px gray;

}

.vendor-header-container {
  overflow: hidden;
}

.cart-product-container {
  border: 1px solid lightgray;
  box-shadow: 0px 0px 1px 0px gray;
}

.empty-cart {
  font-size: 15px;
  padding: 12px;
  color: gray;
  text-align: center;
  margin-top: 5%;
}

.product-comment {

  textarea {
    @extend %cart-input;
    resize: none;
    width: 75%;
    margin-left: 15px;
  }

}

.checkout-cart {
  @extend .cart-product-container;
  padding: 45px 0px 15px 0px;
  overflow: hidden;
}

.total-amount {
  margin-left: 16px
}

.checkout-btn {
  margin-right: 16px;
}

.product-actions {
  display: inline-block;
  text-align: right;
  width: 29%;
  padding-right: 5px;
  vertical-align: middle;

  p {
    text-align: right;
    margin: 5px 0px 0px 0px;
  }
}

.product-name {
  width: 64px;
  vertical-align: middle;
}

.vendor-title {
  @extend %vendor-cart-header;
  width: 80%;
  background-color: #4bc69a;
  padding-left: 27px;
  border-right: 1px solid white;
  cursor: pointer;
}

.vendor-total-price {
  @extend %vendor-cart-header;
  width: 20%;
  background-color: #32a278;
}

.add-comment {
  color: #4bc69a;
}

.comment-btn {
  margin-right: 15px;
}

.remove-pr {
  color: lightgrey;
}

.cart-vendor-products {
  background-color: white;

  img {
    max-width: 51px;
    height: auto;
    margin: 5px;
  }

  label {
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 0px;
  }

  .pricing-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    width: 30%;
  }

  .price-info {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: left;
  }

  .quantity-info {
    font-size: 12px;
    margin-bottom: 0px;
    text-align: left;

    input {
      width: 50px;
      height: 22px;
      @extend %cart-input;

      &:hover, &:focus {
        outline: lightgrey auto 3px;
      }
    }
  }
}

@media (max-width: 400px) {
  .cart-wrapper {
    width: 100%;
  }
}


