.header-item  > a {
  color: #083643 !important;
  border-bottom-color: #ffffff !important;
  border-bottom: 4px;
  border-bottom-style: solid;
}

.header-item  > a:hover, .header-item  > a:focus {
  background-color: #ffffff !important;
  /*border-bottom-color: #4bc69a !important;*/
  border-bottom: 4px;
  border-bottom-style: solid;
  color: #ffffff;
}

.header-item  > a:hover span, .header-item  > a:focus span {
  border-bottom: 2px solid #4bc69a !important;
  padding-bottom: 3px;
}
