.sign-up-img {
  background-image: url("../images/sign_up_header_image.png");
  background-size: cover;
  background-position: center top;
  max-height: 750px;
  min-height: 400px;
}

.sign-up-img .landing-info {
  position: absolute;
  top: 150px;
  color: white;
  background-color: rgba(0, 0, 0, 0.00);
  padding: 20px;
}

.sign-up-img .landing-img-title,
.sign-up-img .landing-img-content {
  text-align: center;
  font-weight: 400;
}

.sign-up-img .landing-img-title span {
  font-weight: 400;
}

.sign-up-img .landing-img-content {
  font-size: 26px;
}

.selection-container {
  width: 100%;
  padding: 30px;
}

.selection-container .as-contractor,
.selection-container .as-vendor {
  border: 1px solid #dfe7dc;
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: #ffffff;
}
.selection-container .as-contractor .top-image {
  height: 200px;
  width: 100%;
  background-image: url("../img/contractor_sign_up_img.png");
  background-size: cover;
  background-position: center top;
}

.selection-container .as-vendor .top-image {
  height: 200px;
  width: 100%;
  background-image: url("../img/vendor_sign_up_img.png");
  background-size: cover;
  background-position: center top;
}

.selection-container .as-contractor .divider-title {
  height: 50px;
  line-height: 50px;
  border-top: 7px solid #5ca72e;
  width: 100%;
  text-align: center;
  font-size: 26px;
  font-weight: 100;
}

.selection-container .as-vendor .divider-title {
  height: 50px;
  line-height: 50px;
  border-top: 7px solid #50b595;
  width: 100%;
  text-align: center;
  font-size: 26px;
  font-weight: 100;
}

.selection-container .as-contractor .explanation,
.selection-container .as-vendor .explanation {
  width: 100%;
  padding: 20px;
}

.selection-container .as-contractor .explanation .title,
.selection-container .as-vendor .explanation .title{
  font-weight: 600;
  width: 100%;
  margin-bottom: 5px;
}

.as-contractor-button {
  font-size: 18px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
  margin-top: 30px;
  width: 220px;
  line-height: 52px;
  height: 60px;
  cursor: pointer;
  color: black;
  border: 4px solid #65b633;
  display: block;

  &:hover {
    text-decoration: none;
    color: black;
  }


}

.as-vendor-button {
  @extend .as-contractor-button;
  border: 3px solid #4bc69a;
}

$blue_label: #083643;
$gray_pulled: #ebf1f5;

.register-container {
  min-height: 700px;
  margin-bottom: 3%;

  h1 {
    font-size: 24px;
    font-weight: normal;
    color: $blue_label;
    margin-bottom: 40px;
  }
}

.register-form {
  legend {
    font-size: 16px;
    border-bottom: none;
    font-weight: normal;
    color: $blue_label;
    margin-bottom: 10px;
  }

  fieldset {
    margin-bottom: 20px;
  }

  label {
    color: #8d8d8d;
  }


  fieldset > div, fieldset > div > .form-group {
    padding-left: 0;
  }

  .form-control {
    border-radius: 0;
  }

  .form-actions {
    float: right;

    a {
      margin-right: 15px;
      line-height: 5;
      color: #666666;
      cursor: pointer;
    }
  }

  .multi-selection {
    border-top: 1px solid $gray_pulled;
    padding-top: 15px;
  }

  .ms-subcategory {
      width: 54%;
    }

    .ms-selected-subcategory {
      width: 45%;
    }

}

