<div id="cart" class="cart-wrapper collapse">
  <div ng-repeat="vendor in [1,2,3,4,5,6,7,8]">
    <div class="vendor-header-container" data-toggle="collapse" data-target="#vendor{{$index}}">
      <label class="vendor-title">Vendor</label>
      <label class="vendor-total-price">$100</label>
    </div>
    <div id="vendor{{$index}}" class="cart-vendor-products collapse in">
      <div class="cart-product-container" ng-repeat="pr in [1,2,3,4]">
        <img src='http://images.lowes.com/product/converted/025528/025528145286lg.jpg'>
        <label class="product-name">Sch 40 Tee</label>
        <div class="pricing-wrapper">
          <p class="price-info">Single Price: $112</p>
          <div class="quantity-info">
            <label>Quantity: </label>
            <input type="number"></input>
          </div>
        </div>
        <div class="product-actions">
          <a href="" data-toggle="collapse" data-target="#comment{{$index}}{{$parent.$index}}">
            <i class="fa fa-pencil add-comment"></i>
          </a>
          <a href="">
            <i class="fa fa-times remove-pr"></i>
          </a>
          <p>$120.00</p>
        </div>
        <div id="comment{{$index}}{{$parent.$index}}" class="product-comment collapse">
          <textarea rows="1"></textarea>
          <button class="btn-custom pull-right comment-btn">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="checkout-cart">
    <label class="total-amount">Total: $15,00</label>
    <button class="btn-custom checkout-btn pull-right">Check out</button>
  </div>
</div>

<!-- Assign To Job Modal -->
<div class="modal fade" id="assign-job-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ASSIGN TO A JOB</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="sel1">Select list:</label>
          <select ng-options="job.id as job.name for job in jobs" ng-model="selectedJob" class="form-control" id="sel1">
          <option disabled="true">Select a job</option>
          </select>
        </div>
        <a class="add-new-job" data-toggle="collapse" data-target="#newJob">
          + Add new job
        </a>
        <div id="newJob" class="clearfix collapse">
          <div class="form-group top-spacing">
            <input type="name" class="form-control input-grey-box" placeholder="Job Name">
          </div>

          <div class="clearfix">
            <div class="input-1-title">Job Address</div>
          </div>
          <div class="col-sm-4 form-group">
            <select class="form-control input-grey-box">
              <option>City</option>
            </select>
          </div>
          <div class="col-sm-4 form-group">
            <select class="form-control input-grey-box">
              <option>State</option>
            </select>
          </div>
          <div class="col-sm-4">
            <input type="name" class="form-control input-grey-box" placeholder="Zip">
          </div>

          <div class="clearfix">
            <div class="input-1-title">Shipping Address</div>
          </div>
          <div class="col-sm-4 form-group">
            <select class="form-control input-grey-box">
              <option>City</option>
            </select>
          </div>
          <div class="col-sm-4 form-group">
            <select class="form-control input-grey-box">
              <option>State</option>
            </select>
          </div>
          <div class="col-sm-4">
            <input type="name" class="form-control input-grey-box" placeholder="Zip">
          </div>
        </div>
        <div ng-click="saveJob()" class="save-btn pull-right" data-dismiss="modal" aria-label="Close">SAVE</div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
