<div class="container-fluid">
  <div class="col-xs-12 col-md-8 col-md-offset-2 clearfix checkout-container">
    <div class="checkout-header"> Check out </div>
    <div class="section-title"> Order summary</div>
    <div class="order-vendors">
      <div class="vendor-order-summary">
        <div class="vendor-name">Vendor: <span>Hydro Scape SA</span></div>
        <div class="vendor-detail">Quote Number: <span>3045</span></div>
        <div class="vendor-detail">Bid: <span>Lorem Ipsum</span></div>
        <div class="vendor-detail">Price: <span> $750</span></div>
        <div class="toggleProducts">Products Selected &nbsp;<i class="glyphicon glyphicon-menu-up"></i></div>
        <div class="order-vendor-products">
          <div class="order-vendor-header">
            <div class="order-vendor-header-item first">Type</div>
            <div class="order-vendor-header-item">Size</div>
            <div class="order-vendor-header-item">Quantity</div>
            <div class="order-vendor-header-item">Price</div>
            <div class="order-vendor-header-item last">Total price</div>
          </div>

          <div class="order-vendor-item">
            <div class="order-vendor-item-col first">
              <div class="item-img-container">
                <img class="item-img" href="" src="img/checkout_item.png"></img>
                <div class="item-img-text">Sch 40 Tee</div>
              </div>
            </div>
            <div class="order-vendor-item-col">1"</div>
            <div class="order-vendor-item-col">100</div>
            <div class="order-vendor-item-col">$.15</div>
            <div class="order-vendor-item-col last">$15.00</div>
          </div><!-- /.order-vendor-item -->

          <div class="order-vendor-item grey">
            <div class="order-vendor-item-col first">
              <div class="item-img-container">
                <img class="item-img" href="" src="img/checkout_item.png"></img>
                <div class="item-img-text">Sch 40 Tee</div>
              </div>
            </div>
            <div class="order-vendor-item-col">1"</div>
            <div class="order-vendor-item-col">100</div>
            <div class="order-vendor-item-col">$.15</div>
            <div class="order-vendor-item-col last">$15.00</div>
          </div><!-- /.order-vendor-item -->

          <div class="order-vendor-item">
            <div class="order-vendor-item-col first">
              <div class="item-img-container">
                <img class="item-img" href="" src="img/checkout_item.png"></img>
                <div class="item-img-text">Sch 40 Tee</div>
              </div>
            </div>
            <div class="order-vendor-item-col">1"</div>
            <div class="order-vendor-item-col">100</div>
            <div class="order-vendor-item-col">$.15</div>
            <div class="order-vendor-item-col last">$15.00</div>
          </div><!-- /.order-vendor-item -->

          <div class="order-vendor-item grey">
            <div class="order-vendor-item-col first">
              <div class="item-img-container">
                <img class="item-img" href="" src="img/checkout_item.png"></img>
                <div class="item-img-text">Sch 40 Tee</div>
              </div>
            </div>
            <div class="order-vendor-item-col">1"</div>
            <div class="order-vendor-item-col">100</div>
            <div class="order-vendor-item-col">$.15</div>
            <div class="order-vendor-item-col last">$15.00</div>
          </div><!-- /.order-vendor-item -->
        </div>
      </div><!-- /.vendor-order-summary -->

      <div class="vendor-order-summary">
        <div class="vendor-name">Vendor: <span>Hydro Scape SA</span></div>
        <div class="vendor-detail">Quote Number: <span>3045</span></div>
        <div class="vendor-detail">Bid: <span>Lorem Ipsum</span></div>
        <div class="vendor-detail">Price: <span> $750</span></div>
        <div class="toggleProducts">Products Selected &nbsp;<i class="glyphicon glyphicon-menu-up"></i></div>
        <div class="order-vendor-products">
          <div class="order-vendor-header">
            <div class="order-vendor-header-item first">Type</div>
            <div class="order-vendor-header-item">Size</div>
            <div class="order-vendor-header-item">Quantity</div>
            <div class="order-vendor-header-item">Price</div>
            <div class="order-vendor-header-item last">Total price</div>
          </div>

          <div class="order-vendor-item">
            <div class="order-vendor-item-col first">
              <div class="item-img-container">
                <img class="item-img" href="" src="img/checkout_item.png"></img>
                <div class="item-img-text">Sch 40 Tee</div>
              </div>
            </div>
            <div class="order-vendor-item-col">1"</div>
            <div class="order-vendor-item-col">100</div>
            <div class="order-vendor-item-col">$.15</div>
            <div class="order-vendor-item-col last">$15.00</div>
          </div><!-- /.order-vendor-item -->

          <div class="order-vendor-item grey">
            <div class="order-vendor-item-col first">
              <div class="item-img-container">
                <img class="item-img" href="" src="img/checkout_item.png"></img>
                <div class="item-img-text">Sch 40 Tee</div>
              </div>
            </div>
            <div class="order-vendor-item-col">1"</div>
            <div class="order-vendor-item-col">100</div>
            <div class="order-vendor-item-col">$.15</div>
            <div class="order-vendor-item-col last">$15.00</div>
          </div><!-- /.order-vendor-item -->

          <div class="order-vendor-item">
            <div class="order-vendor-item-col first">
              <div class="item-img-container">
                <img class="item-img" href="" src="img/checkout_item.png"></img>
                <div class="item-img-text">Sch 40 Tee</div>
              </div>
            </div>
            <div class="order-vendor-item-col">1"</div>
            <div class="order-vendor-item-col">100</div>
            <div class="order-vendor-item-col">$.15</div>
            <div class="order-vendor-item-col last">$15.00</div>
          </div><!-- /.order-vendor-item -->

          <div class="order-vendor-item grey">
            <div class="order-vendor-item-col first">
              <div class="item-img-container">
                <img class="item-img" href="" src="img/checkout_item.png"></img>
                <div class="item-img-text">Sch 40 Tee</div>
              </div>
            </div>
            <div class="order-vendor-item-col">1"</div>
            <div class="order-vendor-item-col">100</div>
            <div class="order-vendor-item-col">$.15</div>
            <div class="order-vendor-item-col last">$15.00</div>
          </div><!-- /.order-vendor-item -->
        </div>
      </div><!-- /.vendor-order-summary -->

    </div>
    <div class="total-price">
      Total Price: <span>$2,935.5</span>
    </div>

    <div class="section-title"> Ship to</div>

    <form class="payment-form clearfix">
      <div class="form-group payment-input-2">
        <input type="name" class="form-control input-grey-box" placeholder="First Name">
      </div>
      <div class="form-group payment-input-2">
        <input type="name" class="form-control input-grey-box" placeholder="Last Name">
      </div>

      <div class="form-group payment-input-2">
        <input type="name" class="form-control input-grey-box" placeholder="Email">
      </div>
      <div class="form-group payment-input-2">
        <input type="name" class="form-control input-grey-box" placeholder="Company">
      </div>

      <div class="form-group payment-input-3">
        <input type="name" class="form-control input-grey-box" placeholder="Country">
      </div>
      <div class="form-group payment-input-3">
        <input type="name" class="form-control input-grey-box" placeholder="City">
      </div>
      <div class="form-group payment-input-3">
        <input type="name" class="form-control input-grey-box" placeholder="Zip Code">
      </div>

      <div class="form-group payment-input-3">
        <input type="name" class="form-control input-grey-box" placeholder="Street">
      </div>
      <div class="form-group payment-input-3">
        <input type="name" class="form-control input-grey-box" placeholder="Number">
      </div>
      <div class="form-group payment-input-3">
        <input type="name" class="form-control input-grey-box" placeholder="Apartment">
      </div>
      <a href="#" class="add-direction pull-right"><strong>Add new direction</strong></a>
    </form>
    <div class="section-title"> Payment</div>
    <tabset id="payment-methods">
      <tab heading="Credit Card">
        <form class="payment-form clearfix">
          <div class="form-group payment-input-3 single-line">
            <select class="form-control input-grey-box">
              <option>Visa</option>
              <option>MasterCard</option>
              <option>American Express</option>
            </select>
          </div>
          <div class="form-group payment-input-2 single-line">
            <input type="name" class="form-control input-grey-box" placeholder="Credit card number">
          </div>
        </form>
      </tab>
      <tab heading="Credit Application">
        <h4 class='payment-instruction'>Select the credit you want to use</h4>
        <p class="cr-appliction-heading">List of credit applications from the vendors you are purchasing</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Vendor</th>
              <th>Credit Account</th>
              <th>Total to purchase</th>
              <th>Credit applied</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="vendor in [1,2,3,4,5,6]">
              <td><input type="checkbox">&nbsp; Edwin</td>
              <td>$20.00</td>
              <td>$18.00</td>
              <td>
                $ &nbsp;<input></input>
              </td>
            </tr>
          </tbody>
        </table>
      </tab>
    </tabset>

    <div class="pricing-details">
      Price: <span>$2,935.5</span>
    </div>

    <div class="pricing-details">
      Shipping: <span>$2,935.5</span>
    </div>

    <div class="pricing-details">
      Taxes: <span>$2,935.5</span>
    </div>

    <div class="pricing-details big">
      Total Price: <span>$2,935.5</span>
    </div>

    <div type="submit" class="save-button right submit">Submit order</div>
  </div><!-- /.checkout-container -->
</div><!-- /.container-fluid -->
