<div class="contractor-container invoice-summary-container" id="invoice-summary">
  <div class="row invoice-filters">
    <div class="pull-right form-inline">
      <span>Filter by</span>
      <select class="form-control input-grey-box">
        <option>Date</option>
        <option>Amount's range</option>
      </select>
      <input type="text" class="form-control input-grey-box">
    </div>
  </div>
  <div class="invoice-summary-table">
    <div class="container-data-header">
      <div class="container-data-header-item first">JOB</div>
      <div class="container-data-header-item hidden-xs">Job Profile <i class="fa fa-angle-down"></i></div>
      <div class="container-data-header-item hidden-xs">Invoice Number <i class="fa fa-angle-down"></i></div>
      <div class="container-data-header-item hidden-xs">Vendor <i class="fa fa-angle-down"></i></div>
      <div class="container-data-header-item hidden-xs">Date of Purchase <i class="fa fa-angle-down"></i></div>
      <div class="container-data-header-item hidden-xs last">Amount Paid <i class="fa fa-angle-down"></i></div>
      <div class="container-data-header-item visible-xs">Invoice Total</div>
    </div>
    <div class="container-data">
      <div class="container-data-item invoice clearfix">
        <div class="job-data first-item">
          <div class="job-name">Ocean Park</div>
          <img class='job-img'src="img/invoice_job_1.png">
        </div>
        <div class="invoice-data">
          <div class="invoice-contracted">
            <div class="invoice-contracted-content">
              <div class="job-profile">
                30 S La Patera Ave<br>Santa Barbara, Ca 93241
              </div>
              <div class="sub-table">
                <div class="sub-table-invoice-row">
                  <div class="container-data-header-item visible-xs">Vendor <i class="fa fa-angle-down"></i></div>
                  <div class="container-data-header-item visible-xs last">Amount Paid <i class="fa fa-angle-down"></i></div>
                </div>
                <div class="sub-table-invoice-row grey first">
                  <div class="invoice-number">
                    0713-465-8974
                  </div>
                  <div class="invoice-vendor open-modal">
                    Ewing Irrigation
                  </div>
                  <div class="invoice-date-of-purchase">
                    25 JAN 2015 at 1:30
                  </div>
                </div>
                <div class="sub-table-invoice-row">
                  <div class="invoice-number">
                    0786-907-8901
                  </div>
                  <div class="invoice-vendor open-modal">
                    Village Nurseries
                  </div>
                  <div class="invoice-date-of-purchase">
                    26 JAN 2015 at 3:40
                  </div>
                </div>
                <div class="sub-table-invoice-row grey last">
                  <div class="invoice-number">
                    0237-452-7912
                  </div>
                  <div class="invoice-vendor open-modal">
                    DM Color
                  </div>
                  <div class="invoice-date-of-purchase">
                    30 JAN 2015 at 5:10
                  </div>
                </div>
              </div>
              <div class="amount-paid">
                $350.00
              </div>
            </div>
          </div>
          <div class="invoice-expanded">
            <div class="row container-data-header-mobile visible-xs">
              <div class="col-xs-3">Job Profile</div>
              <div class="col-xs-3">Vendor</div>
              <div class="col-xs-4">Amount Paid</div>
            </div>
            <div class="invoice-expanded-content">
              <div class="job-profile">
                30 S La Patera Ave<br>Santa Barbara, Ca 93241
              </div>
              <div class="sub-table">
                <div class="sub-table-invoice-row grey first">
                  <div class="invoice-number">
                    0713-465-8974
                  </div>
                  <div class="invoice-vendor open-modal">
                    Ewing Irrigation
                  </div>
                  <div class="invoice-date-of-purchase">
                    25 JAN 2015 at 1:30
                  </div>
                  <div class="invoice-amount-paid">
                    $150.00
                  </div>
                </div>
                <div class="sub-table-invoice-row">
                  <div class="invoice-number">
                    0786-907-8901
                  </div>
                  <div class="invoice-vendor open-modal">
                    Village Nurseries
                  </div>
                  <div class="invoice-date-of-purchase">
                    26 JAN 2015 at 3:40
                  </div>
                  <div class="invoice-amount-paid">
                    $1,500.00
                  </div>
                </div>
                <div class="sub-table-invoice-row grey">
                  <div class="invoice-number">
                    0237-452-7912
                  </div>
                  <div class="invoice-vendor open-modal">
                    DM Color
                  </div>
                  <div class="invoice-date-of-purchase">
                    30 JAN 2015 at 5:10
                  </div>
                  <div class="invoice-amount-paid">
                    $250.00
                  </div>
                </div>
                <div class="sub-table-invoice-row">
                  <div class="invoice-number">
                    0012-468-7821
                  </div>
                  <div class="invoice-vendor open-modal">
                    White Cap
                  </div>
                  <div class="invoice-date-of-purchase">
                    2  FEB 2015 at 11:20
                  </div>
                  <div class="invoice-amount-paid">
                    $1,000.00
                  </div>
                </div>
                <div class="sub-table-invoice-row grey">
                  <div class="invoice-number">
                    0112-562-7943
                  </div>
                  <div class="invoice-vendor open-modal">
                    HD Supply
                  </div>
                  <div class="invoice-date-of-purchase">
                    2  FEB 2015 at 12:30
                  </div>
                  <div class="invoice-amount-paid">
                    $250.50
                  </div>
                </div>
                <div class="sub-table-invoice-row last">
                  <div class="invoice-number">
                    0121-362-6921
                  </div>
                  <div class="invoice-vendor open-modal">
                    Atelier Verkant
                  </div>
                  <div class="invoice-date-of-purchase">
                    5  FEB 2015 at 7:30
                  </div>
                  <div class="invoice-amount-paid">
                    $0.00
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="invoice-total-mobile visible-xs">
            $900.00
          </p>

          <div class="invoice-show-contracted">
            <div class="see-invoice-full-details">
              See invoice full details <i class="fa fa-caret-down"></i>
            </div>
          </div>
          <div class="invoice-show-expanded">
            <div class="invoice-show-expanded-content">
              <div class="invoice-show-less">
                Show less <i class="fa fa-caret-down"></i>
              </div>
              <div class="invoice-account-total">
                Account Total:
              </div>
              <div class="invoice-total">
                $ 900.00
              </div>
            </div>
          </div>
        </div>
      </div> <!-- container-data-item -->
      <div class="container-data-item invoice clearfix">
        <div class="job-data first-item">
          <div class="job-name">Playa Vista</div>
          <img class='job-img'src="img/invoice_job_2.png">
        </div>
        <div class="invoice-data">
          <div class="invoice-contracted">
            <div class="invoice-contracted-content">
              <div class="job-profile">
                11549 Jefferson Blvd.<br>Playa Vista, Ca 98745
              </div>
              <div class="sub-table">
                <div class="sub-table-invoice-row grey first">
                  <div class="invoice-number">
                    0134-486-7827
                  </div>
                  <div class="invoice-vendor open-modal">
                    Ewing Irrigation
                  </div>
                  <div class="invoice-date-of-purchase">
                    25 JAN 2015 at 2:30
                  </div>
                </div>
                <div class="sub-table-invoice-row">
                  <div class="invoice-number">
                    0213-426-7298
                  </div>
                  <div class="invoice-vendor open-modal">
                    Davis Electric
                  </div>
                  <div class="invoice-date-of-purchase">
                    26 JAN 2015 at 1:40
                  </div>
                </div>
                <div class="sub-table-invoice-row grey last">
                  <div class="invoice-number">
                    0132-406-6891
                  </div>
                  <div class="invoice-vendor open-modal">
                    Village Nurseries
                  </div>
                  <div class="invoice-date-of-purchase">
                    30 JAN 2015 at 10:30
                  </div>
                </div>
              </div>
              <div class="amount-paid">
                $350.00
              </div>
            </div>
          </div>
          <div class="invoice-expanded">
            <div class="invoice-expanded-content">
              <div class="job-profile">
                11549 Jefferson Blvd.<br>Playa Vista, Ca 98745
              </div>
              <div class="sub-table">
                <div class="sub-table-invoice-row grey first">
                  <div class="invoice-number">
                    0134-486-7827
                  </div>
                  <div class="invoice-vendor open-modal">
                    Ewing Irrigation
                  </div>
                  <div class="invoice-date-of-purchase">
                    25 JAN 2015 at 2:30
                  </div>
                  <div class="invoice-amount-paid">
                    $150.00
                  </div>
                </div>
                <div class="sub-table-invoice-row">
                  <div class="invoice-number">
                    0213-426-7298
                  </div>
                  <div class="invoice-vendor open-modal">
                    Davis Electric
                  </div>
                  <div class="invoice-date-of-purchase">
                    26 JAN 2015 at 1:40
                  </div>
                  <div class="invoice-amount-paid">
                    $150.00
                  </div>
                </div>
                <div class="sub-table-invoice-row grey">
                  <div class="invoice-number">
                    0132-406-6891
                  </div>
                  <div class="invoice-vendor open-modal">
                    Village Nurseries
                  </div>
                  <div class="invoice-date-of-purchase">
                    30 JAN 2015 at 10:30
                  </div>
                  <div class="invoice-amount-paid">
                    $150.00
                  </div>
                </div>
                <div class="sub-table-invoice-row">
                  <div class="invoice-number">
                    0123-456-789
                  </div>
                  <div class="invoice-vendor open-modal">
                    Growing Pottery
                  </div>
                  <div class="invoice-date-of-purchase">
                    25 JAN 2015 at 15:30
                  </div>
                  <div class="invoice-amount-paid">
                    $150.00
                  </div>
                </div>
                <div class="sub-table-invoice-row grey">
                  <div class="invoice-number">
                    0123-456-789
                  </div>
                  <div class="invoice-vendor open-modal">
                    Golden Ivy
                  </div>
                  <div class="invoice-date-of-purchase">
                    25 JAN 2015 at 15:30
                  </div>
                  <div class="invoice-amount-paid">
                    $150.00
                  </div>
                </div>
                <div class="sub-table-invoice-row last">
                  <div class="invoice-number">
                    0123-456-789
                  </div>
                  <div class="invoice-vendor open-modal">
                    Maguire and Kells
                  </div>
                  <div class="invoice-date-of-purchase">
                    25 JAN 2015 at 15:30
                  </div>
                  <div class="invoice-amount-paid">
                    $150.00
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="invoice-total-mobile visible-xs">
            $900.00
          </p>
          <div class="invoice-show-contracted">
            <div class="see-invoice-full-details">
              See invoice full details <i class="fa fa-caret-down"></i>
            </div>
          </div>
          <div class="invoice-show-expanded">
            <div class="invoice-show-expanded-content">
              <div class="invoice-show-less">
                Show less <i class="fa fa-caret-down"></i>
              </div>
              <div class="invoice-account-total">
                Account Total:
              </div>
              <div class="invoice-total">
                $ 900.00
              </div>
            </div>
          </div>
        </div>
      </div> <!-- container-data-item -->
      <div class="container-data-item invoice clearfix">
        <div class="job-data first-item">
          <div class="job-name">Laguna Ave</div>
          <img class='job-img'src="img/invoice_job_1.png">
        </div>
        <div class="invoice-data">
          <div class="invoice-contracted">
            <div class="invoice-contracted-content">
              <div class="job-profile">
                5436 Laguna Ave<br>Laguna Hills, Ca 95786
              </div>
              <div class="sub-table">
                <div class="sub-table-invoice-row grey first">
                  <div class="invoice-number">
                    0013-476-7792
                  </div>
                  <div class="invoice-vendor open-modal">
                    Atelier Verkant
                  </div>
                  <div class="invoice-date-of-purchase">
                    25 JAN 2015 at 7:30
                  </div>
                </div>
                <div class="sub-table-invoice-row">
                  <div class="invoice-number">
                    0163-426-7895
                  </div>
                  <div class="invoice-vendor open-modal">
                    Village Nurseries
                  </div>
                  <div class="invoice-date-of-purchase">
                    26 JAN 2015 at 11:10
                  </div>
                </div>
                <div class="sub-table-invoice-row grey last">
                  <div class="invoice-number">
                    0423-416-7892
                  </div>
                  <div class="invoice-vendor open-modal">
                    Ewing Irrigation
                  </div>
                  <div class="invoice-date-of-purchase">
                    30 JAN 2015 at 12:20
                  </div>
                </div>
              </div>
              <div class="amount-paid">
                $350.00
              </div>
            </div>
          </div>
          <div class="invoice-expanded">
            <div class="invoice-expanded-content">
              <div class="job-profile">
                5436 Laguna Ave<br>Laguna Hills, Ca 95786
              </div>
              <div class="sub-table">
                <div class="sub-table-invoice-row grey first">
                  <div class="invoice-number">
                    0013-476-7792
                  </div>
                  <div class="invoice-vendor open-modal">
                    Atelier Verkant
                  </div>
                  <div class="invoice-date-of-purchase">
                    25 JAN 2015 at 7:30
                  </div>
                  <div class="invoice-amount-paid">
                    $150.00
                  </div>
                </div>
                <div class="sub-table-invoice-row">
                  <div class="invoice-number">
                    0163-426-7895
                  </div>
                  <div class="invoice-vendor open-modal">
                    Village Nurseries
                  </div>
                  <div class="invoice-date-of-purchase">
                    26 JAN 2015 at 11:10
                  </div>
                  <div class="invoice-amount-paid">
                    $150.00
                  </div>
                </div>
                <div class="sub-table-invoice-row grey">
                  <div class="invoice-number">
                    0423-416-7892
                  </div>
                  <div class="invoice-vendor open-modal">
                    Ewing Irrigation
                  </div>
                  <div class="invoice-date-of-purchase">
                    30 JAN 2015 at 12:20
                  </div>
                  <div class="invoice-amount-paid">
                    $150.00
                  </div>
                </div>
                <div class="sub-table-invoice-row">
                  <div class="invoice-number">
                    0123-456-789
                  </div>
                  <div class="invoice-vendor open-modal">
                    Growing Pottery
                  </div>
                  <div class="invoice-date-of-purchase">
                    25 JAN 2015 at 15:30
                  </div>
                  <div class="invoice-amount-paid">
                    $150.00
                  </div>
                </div>
                <div class="sub-table-invoice-row grey">
                  <div class="invoice-number">
                    0123-456-789
                  </div>
                  <div class="invoice-vendor open-modal">
                    Golden Ivy
                  </div>
                  <div class="invoice-date-of-purchase">
                    25 JAN 2015 at 15:30
                  </div>
                  <div class="invoice-amount-paid">
                    $150.00
                  </div>
                </div>
                <div class="sub-table-invoice-row last">
                  <div class="invoice-number">
                    0123-456-789
                  </div>
                  <div class="invoice-vendor open-modal">
                    Maguire and Kells
                  </div>
                  <div class="invoice-date-of-purchase">
                    25 JAN 2015 at 15:30
                  </div>
                  <div class="invoice-amount-paid">
                    $150.00
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="invoice-total-mobile visible-xs">
            $900.00
          </p>
          <div class="invoice-show-contracted">
            <div class="see-invoice-full-details">
              See invoice full details <i class="fa fa-caret-down"></i>
            </div>
          </div>
          <div class="invoice-show-expanded">
            <div class="invoice-show-expanded-content">
              <div class="invoice-show-less">
                Show less <i class="fa fa-caret-down"></i>
              </div>
              <div class="invoice-account-total">
                Account Total:
              </div>
              <div class="invoice-total">
                $ 900.00
              </div>
            </div>
          </div>
        </div>
      </div> <!-- container-data-item -->
    </div>
  </div>
</div>
