<nav fixed-header class="navbar navbar-default landing-header not-transparent" id="landing-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href=""><img class="navbar-brand" src="images/pulled-logo.png"/></a>
    </div>
    <login></login>
    <vendor-header ng-show="vendorSession()"></vendor-header>
    <contractor-header ng-show="contractorSession()"></contractor-header>
  </div>
</nav>
