<div class="landing-img">
  <img class="hidden-landing-img" src="images/landing-bg.jpg"/>
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 landing-info">
    <div class="landing-img-title"><span>THE CHASE IS ON!</span><br>Make it efficient!</div>
    <div class="landing-img-content">All your products, all your relationships pulled together in an efficient, organized, and insightful way, helping you make decision faster, proposals stronger, and opportunities that last longer.
    </div>
    <a href="/#/sign_up" class="landing-img-btn sign_up_btn">Sign Up</a>
  </div>
</div>

<search></search>

<!-- OPORTUNITIES -->
<div class="section-wrapper info-wrapper opportunities-section clearfix">
  <h3 class="title-oportunities">
    Opportunities With Us
  </h3>

  <div class="col-xs-6 col-md-3 opportunity-wrapper">
    <img class="opportunity-img" src="img/opportunity_2.png"/>
    <div class="opportunity-title">
      Every Item at Your Finger Tips
    </div>
    <div class="opportunity-content">
      That’s right! See every item and vendor relationship within one place. No need to call multiple vendors or submit multiple lists.
    </div>
  </div>

  <div class="col-xs-6 col-md-3 opportunity-wrapper">
    <img class="opportunity-img" src="img/opportunity_1.png"/>
    <div class="opportunity-title">
      Create Your Proposals in Minutes
    </div>
    <div class="opportunity-content">
      You read it correctly! Upload your entire list of items per project, including multiple categories and see a filtered list of results per vendor availability and order specifications to quote in minutes. This will increase your profits and free up time to increase sales.
    </div>
  </div>

  <div class="col-xs-6 col-md-3 opportunity-wrapper">
    <img class="opportunity-img" src="img/opportunity_3.png"/>
    <div class="opportunity-title">
      Know What Your Customers Need<br>When They Need It
    </div>
    <div class="opportunity-content">
      We understand you are busy curating the best products for your customers. That’s why we want to provide them with the quickest insight into what your customers are buying, where they are buying it, and how quickly the need it. So you can make informed decisions in serving them the best.
    </div>
  </div>

  <div class="col-xs-6 col-md-3 opportunity-wrapper">
    <img class="opportunity-img" src="img/opportunity_4.png"/>
    <div class="opportunity-title">
      Your Sales Team is Inundated
    </div>
    <div class="opportunity-content">
      Calls, emails, faxes, and meetings! They don’t always have a spare hand to truly maximize their clients potential. We remove the distractions and allow them to do what they do best, serve their clients quickly and efficiently.
    </div>
  </div>
</div>
