<label class="ms-subcategory">Subcategories</label>
<label class="ms-selected-subcategory">Selected subcategories</label>
<div class="row">
  <div class="col-xs-12">
    <select id='selectCategories' multiple='multiple' ng-model="selectedSubCategories">
      <optgroup ng-repeat="category in categories" label='{{category.name}}'>
        <option ng-repeat='subCategory in category.sub_categories' value="{{subCategory.id}}">{{subCategory.name}}</option>
      </optgroup>
    </select>
  </div>
</div>

