<nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href=""><img class="navbar-brand" href="" src="images/pulled-logo.png"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li id="header-logout" class="dark"><a href="#"><span>VENDOR'S ACCOUNT <i class="fa fa-angle-down"></i></span></a></li>
        <li id="header-login" class="header-item">
          <a href="#" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
            <span>LOGIN</span>
          </a>
          <form class="collapse login-form" id="bs-example-navbar-collapse-2">
            <div class="form-group">
              <input type="email" class="form-control login-email" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control login-pwd" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<body>
  <div class="container-fluid">
    <div class="col-xs-12 col-md-8 col-md-offset-2 clearfix order-status-container">
      <div class="order-status-header"> Thank you for your order! </div>
      <div class="section-title"> Your orders</div>
      <div class="orders-status">
        <div class="order-status-item-container">
          <div class="row">
            <div class="col-xs-6 col-sm-9">
              <div class="order-status-date">
                Order date: <span>11/02/15</span>
              </div>
              <div class="order-status-total-price">
                Total Price: <span>$2,750</span>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="status-detail pull-right">
                Status <span class="status-on-transit">On transit</span>
              </div>
            </div>
          </div>
          <div class="toggleVendors">Items Selected &nbsp;<i class="glyphicon glyphicon-menu-up"></i></div>
          <div class="order-vendors">
            <div class="vendor-order-summary">
              <div class="vendor-name">Vendor: <span>Hydro Scape SA</span></div>
              <div class="vendor-detail">Quote Number: <span>3045</span></div>
              <div class="vendor-detail">Bid: <span>Lorem Ipsum</span></div>
              <div class="vendor-detail">Price: <span> $750</span></div>
              <div class="toggleProducts">Products Selected &nbsp;<i class="glyphicon glyphicon-menu-up"></i></div>
              <div class="order-vendor-products">
                <div class="order-vendor-header">
                  <div class="order-vendor-header-item first">Type</div>
                  <div class="order-vendor-header-item">Size</div>
                  <div class="order-vendor-header-item">Quantity</div>
                  <div class="order-vendor-header-item">Price</div>
                  <div class="order-vendor-header-item last">Total price</div>
                </div>

                <div class="order-vendor-item">
                  <div class="order-vendor-item-col first">
                    <div class="item-img-container">
                      <img class="item-img" href="" src="img/checkout_item.png"></img>
                      <div class="item-img-text">Sch 40 Tee</div>
                    </div>
                  </div>
                  <div class="order-vendor-item-col">1"</div>
                  <div class="order-vendor-item-col">100</div>
                  <div class="order-vendor-item-col">$.15</div>
                  <div class="order-vendor-item-col last">$15.00</div>
                </div><!-- /.order-vendor-item -->

                <div class="order-vendor-item grey">
                  <div class="order-vendor-item-col first">
                    <div class="item-img-container">
                      <img class="item-img" href="" src="img/checkout_item.png"></img>
                      <div class="item-img-text">Sch 40 Tee</div>
                    </div>
                  </div>
                  <div class="order-vendor-item-col">1"</div>
                  <div class="order-vendor-item-col">100</div>
                  <div class="order-vendor-item-col">$.15</div>
                  <div class="order-vendor-item-col last">$15.00</div>
                </div><!-- /.order-vendor-item -->

                <div class="order-vendor-item">
                  <div class="order-vendor-item-col first">
                    <div class="item-img-container">
                      <img class="item-img" href="" src="img/checkout_item.png"></img>
                      <div class="item-img-text">Sch 40 Tee</div>
                    </div>
                  </div>
                  <div class="order-vendor-item-col">1"</div>
                  <div class="order-vendor-item-col">100</div>
                  <div class="order-vendor-item-col">$.15</div>
                  <div class="order-vendor-item-col last">$15.00</div>
                </div><!-- /.order-vendor-item -->

                <div class="order-vendor-item grey">
                  <div class="order-vendor-item-col first">
                    <div class="item-img-container">
                      <img class="item-img" href="" src="img/checkout_item.png"></img>
                      <div class="item-img-text">Sch 40 Tee</div>
                    </div>
                  </div>
                  <div class="order-vendor-item-col">1"</div>
                  <div class="order-vendor-item-col">100</div>
                  <div class="order-vendor-item-col">$.15</div>
                  <div class="order-vendor-item-col last">$15.00</div>
                </div><!-- /.order-vendor-item -->
              </div>
            </div><!-- /.vendor-order-summary -->

            <div class="vendor-order-summary">
              <div class="vendor-name">Vendor: <span>Hydro Scape SA</span></div>
              <div class="vendor-detail">Quote Number: <span>3045</span></div>
              <div class="vendor-detail">Bid: <span>Lorem Ipsum</span></div>
              <div class="vendor-detail">Price: <span> $750</span></div>
              <div class="toggleProducts">Products Selected &nbsp;<i class="glyphicon glyphicon-menu-up"></i></div>
              <div class="order-vendor-products">
                <div class="order-vendor-header">
                  <div class="order-vendor-header-item first">Type</div>
                  <div class="order-vendor-header-item">Size</div>
                  <div class="order-vendor-header-item">Quantity</div>
                  <div class="order-vendor-header-item">Price</div>
                  <div class="order-vendor-header-item last">Total price</div>
                </div>

                <div class="order-vendor-item">
                  <div class="order-vendor-item-col first">
                    <div class="item-img-container">
                      <img class="item-img" href="" src="img/checkout_item.png"></img>
                      <div class="item-img-text">Sch 40 Tee</div>
                    </div>
                  </div>
                  <div class="order-vendor-item-col">1"</div>
                  <div class="order-vendor-item-col">100</div>
                  <div class="order-vendor-item-col">$.15</div>
                  <div class="order-vendor-item-col last">$15.00</div>
                </div><!-- /.order-vendor-item -->

                <div class="order-vendor-item grey">
                  <div class="order-vendor-item-col first">
                    <div class="item-img-container">
                      <img class="item-img" href="" src="img/checkout_item.png"></img>
                      <div class="item-img-text">Sch 40 Tee</div>
                    </div>
                  </div>
                  <div class="order-vendor-item-col">1"</div>
                  <div class="order-vendor-item-col">100</div>
                  <div class="order-vendor-item-col">$.15</div>
                  <div class="order-vendor-item-col last">$15.00</div>
                </div><!-- /.order-vendor-item -->

                <div class="order-vendor-item">
                  <div class="order-vendor-item-col first">
                    <div class="item-img-container">
                      <img class="item-img" href="" src="img/checkout_item.png"></img>
                      <div class="item-img-text">Sch 40 Tee</div>
                    </div>
                  </div>
                  <div class="order-vendor-item-col">1"</div>
                  <div class="order-vendor-item-col">100</div>
                  <div class="order-vendor-item-col">$.15</div>
                  <div class="order-vendor-item-col last">$15.00</div>
                </div><!-- /.order-vendor-item -->

                <div class="order-vendor-item grey">
                  <div class="order-vendor-item-col first">
                    <div class="item-img-container">
                      <img class="item-img" href="" src="img/checkout_item.png"></img>
                      <div class="item-img-text">Sch 40 Tee</div>
                    </div>
                  </div>
                  <div class="order-vendor-item-col">1"</div>
                  <div class="order-vendor-item-col">100</div>
                  <div class="order-vendor-item-col">$.15</div>
                  <div class="order-vendor-item-col last">$15.00</div>
                </div><!-- /.order-vendor-item -->
              </div>
            </div><!-- /.vendor-order-summary -->
          </div><!-- /.orders-vendors -->
        </div><!-- /.order-status-item-container -->
      </div><!-- /.orders-status -->
      <a href="#" class="button-success pull-right">Go to contracts</a>
    </div><!-- /.order-status-container -->
  </div><!-- /.container-fluid -->
  <footer class="footer">
    <div class="footer-wrapper">
      <div class="container">
        <p class="text-muted">pulled.inc</p>
        <a href="mailto:pullers@gmail.com">pullers@gmail.com</a>
        <p class="text-muted">24 street 1234</p>
      </div>
    </div>
  </footer>
</body>
