
<div class="sign-up-img">
  <img class="hidden-landing-img" src="images/sign_up_header_image.png" style="visibility:hidden"/>

  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 landing-info">
    <div class="landing-img-title"><span>All Your Products Under one Roof</span></div>
    <div class="landing-img-content">Sign Up Today!
    </div>
  </div>
</div>

<div class="selection-container clearfix">
  <div class="col-sm-6">
    <div class="as-contractor">
      <div class="top-image">
      </div>
      <div class="divider-title">
        Contractors
      </div>
      <div class="explanation">
        <div class="title">About Contractors</div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis leo sed nunc consequat luctus. Nullam vel elit velit. Etiam at ipsum at ex placerat sodales eget auctor neque. Nulla et euismod mi.
        </div>
        <a class="as-contractor-button" href="/#/contractor_register">
         Sign Up As Contractor
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="as-vendor">
      <div class="top-image">
      </div>
      <div class="divider-title">
        Vendors
      </div>
      <div class="explanation">
        <div class="title">About Vendors</div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis leo sed nunc consequat luctus. Nullam vel elit velit. Etiam at ipsum at ex placerat sodales eget auctor neque. Nulla et euismod mi.
        </div>
        <a class="as-vendor-button" href="/#/vendor_register">
        Sign Up As Vendor
       </a>
      </div>
    </div>
  </div>
</div>

