<div class='contractor-header clearfix'>
    <a href="/#/contractor">
      <div class="contractor-header-item active" data-container="search-section"><span>Search</span></div>
    </a>
    <a href="">
      <div class="contractor-header-item" data-container="jobs"><span>Jobs</span></div>
    </a>
    <a href="">
      <div class="contractor-header-item" data-container="job-cost-profile"><span>Job summary</span></div>
    </a>
    <a href="">
      <div class="contractor-header-item" data-container="order-tracking"><span>Order tracking</span></div>
    </a>
    <a href="">
      <div class="contractor-header-item" data-container="vendors"><span>Vendors</span></div>
    </a>
    <a href="" class="cart-nav" data-toggle="collapse" data-target="#cart">
      <div class="" data-container="vendors"><span class="fa fa fa-shopping-cart fa-2x"></span></div>
    </a>
</div>
<cart></cart>
