<div class='contractor-header clearfix'>
    <a href="/#/contractor">
      <div class="contractor-header-item active" data-container="search-section"><span>SEARCH</span></div>
    </a>
    <a href="">
      <div class="contractor-header-item" data-container="jobs"><span>JOBS</span></div>
    </a>
    <a href="">
      <div class="contractor-header-item" data-container="job-cost-profile"><span>JOB SUMMARY</span></div>
    </a>
    <a href="">
      <div class="contractor-header-item" data-container="order-tracking"><span>ORDER TRACKING</span></div>
    </a>
    <a href="">
      <div class="contractor-header-item" data-container="vendors"><span>VENDORS</span></div>
    </a>
</div>
